**Linear Regression on Boston Housing Dataset**

In [0]:
#Importing the required librarires:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split

In [0]:
#Importing the dataset:
from sklearn.datasets import load_boston
data = load_boston()

In [0]:
#Create a Dataframe and print the dataset:
df = pd.DataFrame(data.data,columns=data.feature_names)
df.head() # print out the first five elements of the data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [0]:
df.describe() #Used to describe different parameters like mean , standard deviation etc. of the data.

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [0]:
df['MEDV'] = data.target    #Adding the target varuable MEDV to the data.

In [0]:
#We will perform Simple Linear Regression, using the values of lstat as the predictor:
X = pd.DataFrame(np.c_[df['LSTAT'], df['RM']], columns = ['LSTAT','RM'])
y = df['MEDV']
X_train,X_test,y_train,y_test = train_test_split(X,y)
print(X_train.shape)
print(y_train.shape)

(379, 2)
(379,)

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
y_pred = lr.predict(X_test)

In [0]:
mse = np.mean((y_pred-y_test))**2
mse

0.0008626401448249967

In [0]:
coeff = DataFrame(X_train.columns)

coeff['Coefficient Estimate'] = Series(lr.coef_)

coeff

       0  Coefficient Estimate
0  LSTAT             -0.656603
1     RM              4.827543

**Multiple Linear Regression**

In [0]:
#In multiple Linear Regression, we will be using all the predictor variables to predict the target variable:

X = pd.DataFrame(np.c_[df['LSTAT'], df['RM'],df['CRIM'],df['ZN'],df['INDUS'],df['CHAS'],df['NOX'],df['AGE'],df['DIS'],df['RAD'],df['TAX'],df['PTRATIO'],df['B']], columns = ['LSTAT','RM','CRIM','ZN','INDUS','CHAS','NOX','AGE','DIS','RAD','TAX','PTRATIO','B'])
y = df['MEDV']
X_train,X_test,y_train,y_test = train_test_split(X,y)
print(X_train.shape)
print(y_train.shape)

(379, 13)
(379,)

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
y_pred = lr.predict(X_test)

In [0]:
mse = np.mean((y_pred-y_test))**2
mse

1.1622450701768692

In [0]:
coeff = DataFrame(X_train.columns)

coeff['Coefficient Estimate'] = Series(lr.coef_)

coeff

          0  Coefficient Estimate
0     LSTAT             -0.455755
1        RM              4.271652
2      CRIM             -0.100247
3        ZN              0.043916
4     INDUS             -0.033247
5      CHAS              3.141000
6       NOX            -11.053903
7       AGE             -0.017691
8       DIS             -1.390644
9       RAD              0.262460
10      TAX             -0.013323
11  PTRATIO             -0.853835
12        B              0.010506

**Interaction terms and Non-Linear Transformations**

In [0]:
df['Value'] = df.RM*df.LSTAT   # Interaction term between RM and LSTAT
X = pd.DataFrame(np.c_[df['LSTAT'], df['RM'],df['Value']], columns = ['LSTAT','RM','Value'])
y = df['MEDV']
X_train,X_test,y_train,y_test = train_test_split(X,y)
print(X_train.shape)
print(y_train.shape)

(379, 3)
(379,)

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
y_pred = lr.predict(X_test)
mse = np.mean((y_pred-y_test))**2
mse

0.001045480557939052

In [0]:
coeff = DataFrame(X_train.columns)

coeff['Coefficient Estimate'] = Series(lr.coef_)

coeff

       0  Coefficient Estimate
0  LSTAT              2.045150
1     RM              9.431551
2  Value             -0.460535

In [0]:
#Non-Linear Terms or Polynomial Features:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
X = pd.DataFrame(np.c_[df['LSTAT'], df['RM'],df['CRIM'],df['ZN'],df['INDUS'],df['CHAS'],df['NOX'],df['AGE'],df['DIS'],df['RAD'],df['TAX'],df['PTRATIO'],df['B']], columns = ['LSTAT','RM','CRIM','ZN','INDUS','CHAS','NOX','AGE','DIS','RAD','TAX','PTRATIO','B'])
y = df['MEDV']
poly.fit(X)
X_poly = poly.transform(X)
X_train,X_test,y_train,y_test = train_test_split(X_poly,y)
print(X_train.shape)
print(y_train.shape)

(379, 105)
(379,)

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
y_pred = lr.predict(X_test)
mse = np.mean((y_pred-y_test))**2
mse

0.024271096318488714

**Qualitative Predictors**

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Carseats.csv to Carseats.csv

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Carseats.csv']))

In [0]:
df.head()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,5,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [0]:
df.describe()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,115.614301,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,1.000000,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,100.750000,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,200.500000,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,300.250000,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,400.000000,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [0]:
df_dummies = pd.get_dummies(df) #Generating dummy variables for categorical variables.
df_dummies.head()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,1,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,2,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,3,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,4,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,5,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [0]:

X = pd.DataFrame(np.c_[df_dummies['CompPrice'], df_dummies['Income'],df_dummies['Advertising'],df_dummies['Population'],df_dummies['Price'],df_dummies['Age'],df_dummies['Education'],df_dummies['ShelveLoc_Bad'],df_dummies['ShelveLoc_Good'],df_dummies['ShelveLoc_Medium'],df_dummies['Urban_No'],df_dummies['Urban_Yes'],df_dummies['US_No'],df_dummies['US_Yes']], columns = ['CompPrice','Income','Advertising','Population','Price','Age','Education','ShelveLoc_Bad','ShelveLoc_Good','ShelveLoc_Medium','Urban_No','Urban_Yes','US_No','US_Yes'])
y = df_dummies['Sales']
X_train,X_test,y_train,y_test = train_test_split(X,y)
print(X_train.shape)
print(y_train.shape)

(300, 14)
(300,)